body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2 {
  color: green;
  font-style: italic;
}

.success{
  /* display: none; */
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.alert{
  color: red;
  /* display: none; */
  -webkit-animation:fadeout 10s linear;
          animation:fadeout 10s linear;
  opacity:0;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

@-webkit-keyframes fadeout{
  0%{opacity:1;}
  83.33%{opacity:1;}
  100%{opacity:0;}
}

@keyframes fadeout{
  0%{opacity:1;}
  83.33%{opacity:1;}
  100%{opacity:0;}
}

.person {
  color: grey;
  padding-top: 5px;
  font-size: 15px;
}